.nav-menu {
  background: #222831;
  box-shadow: 5px 0px 25px #222831;
  width: 85vw;
  height: 5vh;
  display: flex;
  justify-content: space;
  align-items: center;

  &__links {
    width: 100%;
    text-transform: uppercase;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    .link {
      width: 200px;
      color: #fff;
      text-align: center;
      letter-spacing: 2px;
      transition: 10ms;

      &:hover {
        color: #AAD8D3;
        transform: scale(95%);
      }
    }
  }

  &__panel {
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
  }
}