.main {
  background: #393E46;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.form {
  background: #EEEEEE;
  width: 85vw;
  height: 95vh;
  flex-flow: row nowrap;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list {
  background: #EEEEEE;
  width: 85vw;
  height: 95vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  // align-items: center;

  h1 {
    // text-align: center;
  }
}

.details {
  background: #EEEEEE;
  width: 85vw;
  height: 95vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  // align-items: center;
}

.error-page {
  background: #EEEEEE;
  color: #000;
}

.footer {
  display: grid;
  flex-flow: row;
}