.main {
  background: #393E46;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.container {
  margin: 0;
  padding: 0;
}

.form {
  background: #EEEEEE;
  width: 85vw;
  height: 95vh;
  flex-flow: row nowrap;
  justify-content: center;
  overflow: hidden;
}

.list {
  background: #EEEEEE;
  width: 85vw;
  height: 95vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  // align-items: center;
}

.details {
  background: #EEEEEE;
  width: 85vw;
  height: 95vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  // align-items: center;
}

.footer {
  display: grid;
  flex-flow: row;
}