.staff-menu {
  width: 85vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  
  &__box {
    width: 100% !important;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 3rem;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &-employees {
      background: #EEEEEE;
    }

    &-personal-data {
      background: #AAD8D3;
    }

    &-trainings {
      background: #AAD8D3;
    }

    &-insurances {
      background: #EEEEEE;
    }

    &-contracts {
      background: #EEEEEE;
    }

    &-holidays {
      background: #00ADB5;
    }

    &-salaries {
      background: #00ADB5;
    }
  }

  &__box:hover {
    filter: brightness(80%);
  }

}